doctype html 
head 
  title Main page 
  link(rel="stylesheet" href=" ../../styles/index.scss")
  link(rel="stylesheet" href="style.scss")
body
    .wrapper.main__wrapper
      .chats__cointainer 
      .chat__room
      