doctype html
html(lang="ru") 
  head
    title Page 500
    link(rel="stylesheet" href=" ../../styles/index.scss")
    link(rel="stylesheet" href="style.scss")
  body
    .wrapper.page500__wrapper 
      .content.page500__content
        .page500__text
          h1.title.page500__title 500
          p.text.page500__p Мы уже фиксим
        a(href='../../index.pug').link.page500__link Назад к чатам
