include ../../includes/mixins.pug
doctype html
html(lang="ru") 
  +head-tag('Регистрация')
  body
    main
      .wrapper.login__wrapper
        .content.login__content
          h1.login__title Регистрация
          form.login__form
            label(for='email') Почта
            +pug-input('mail', '', false, 'email')
            label(for='login') Логин
            +pug-input('text', '', false, 'login')
            label(for='first_name') Имя
            +pug-input('text', '', false, 'first_name')
            label(for='last_name') Фамилия
            +pug-input('text', '', false, 'last_name')
            label(for='phone') Телефон
            +pug-input('phone', '', false, 'phone')
            label(for='password') Пароль
            +pug-input('password', '', false, 'password')
            label(for='password-re') Повторите пароль
            +pug-input('password', '', false, 'password-re')
            button(type='submit').btn.auth__button Зарегистрироваться
            a.login__link(href='../login/login.pug') Войти
          
