@import "../../styles/base/constants";

.login__content {
  width: 340px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @extend %center-block;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.login__btn-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & a {
    margin-top: 20px;
  }
}

.auth__button {
  width: 280px;
  height: 37px;
  background: #3369f3;
  border-radius: 8px;
  color: #fff;
}

.auth__button:hover {
  cursor: pointer;
}
