doctype html
html(lang='ru')
  include includes/head.pug
  body
    h1 Hello Parcel Pug and Express!!!
    a(href='./pages/login/login.pug').link Login
    br
    a(href='./pages/registration/registration.pug').link Registration
    br
    a(href='./pages/page404/page404.pug').link Page 404
    br
    a(href='./pages/page500/page500.pug').link Page 500
