doctype html
html(lang='ru')
  include includes/head.pug
  body
    h1 Сыылки на все страницы. Main - это страница чатов, пока заглушка.
    a(href='./pages/login/login.pug').link Login
    br
    a(href='./pages/registration/registration.pug').link Registration
    br
    a(href='./pages/main/main.pug').link Main
    br
    a(href='./pages/profile/profile.pug').link Profile
    br
    a(href='./pages/page404/page404.pug').link Page 404
    br
    a(href='./pages/page500/page500.pug').link Page 500
