include includes/mixins.pug
doctype html
html(lang='ru')
  head(title = 'Мой мессенджер')
  link(rel="stylesheet" href="style.scss")
  body
    main
      h1 Ссылки на все страницы.
      nav 
        ul 
          li
            a(href='./pages/login/login.pug').link Страница Login
          li
            a(href='./pages/registration/registration.pug').link Страница Регистрации
          li
            a(href='./pages/main/main.pug').link Страница чата.
          li
            a(href='./pages/profile/profile.pug').link Страница профиля
          li
            a(href='./pages/page404/page404.pug').link Страница ошибки 404
          li
            a(href='./pages/page500/page500.pug').link Страница 500
