doctype html
html(lang="ru") 
  head
    title Page 404
    link(rel="stylesheet" href=" ../../styles/index.scss")
    link(rel="stylesheet" href="style.scss")
  body
    .wrapper.page404__wrapper
      .content.page404__content
        .page404__text
          h1.title.page404__title 404
          p.text.page404__p Не туда попали
        a(href='../../index.pug').link.page404__link Назад к чатам
